@media (max-width: 1200px) {
  .projects__box-img img {
    min-height: auto;
  }
}

@media (max-width: 992px) {
  .projects__box-title {
    font-size: 1em;
  }

  .projects__box-type {
    font-size: 14px;
  }
}

@media (max-width: 840px) {
  .projects__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .sidebar {
    position: static;
    width: 100%;
    max-width: 98%;
    margin: 0 auto;
  }

  .sidebar__inner {
    overflow: auto;
  }

  .sidebar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 630px;
    overflow: auto;
  }

  .sidebar__list li + li {
    margin: 0;
    margin-left: 10px;
  }

  .info {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 98%;
  }

  .last__inner {
    min-width: 770px;
    overflow: auto;
  }

  .last__inner-container {
    overflow: auto;
    overflow-y: hidden;
  }
}

@media (max-width: 720px) {
  .contacts__inner {
    -ms-grid-columns: (120px)[2];
    grid-template-columns: repeat(2, 120px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 576px) {
  .main {
    min-height: 160px;
  }

  .main__title {
    font-size: 1.1em;
  }

  .info {
    max-width: 100%;
  }

  .projects__box {
    width: 100%;
  }

  .content-container {
    padding: 0px 5px 0 5px;
  }

  section {
    padding: 25px 12px 20px 12px;
    margin-bottom: 25px;
  }
}

@media (max-width: 536px) {
  .projects__container {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 440px) {
  .sidebar {
    display: none;
  }

  .header__list > li + li {
    margin-left: 20px;
  }

  .header > .container {
    padding: 0px 10px;
  }

  .last__container {
    padding-bottom: 1px;
  }

  .last__inner {
    grid-gap: 20px;
  }

  .projects__descr {
    max-width: 305px;
    margin: 20px auto 0;
  }

  .skills__box-title {
    font-size: 1.5em;
  }

  .contacts-page__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .contacts-page__box-img {
    width: 40px;
    height: 40px;
  }

  .info {
    max-width: 100%;
  }

  .last {
    display: none;
  }
}

@media (max-width: 350px) {
  .header__list > li > a {
    font-size: 0.8em;
  }

  .contacts__inner {
    -ms-grid-columns: (120px)[1];
    grid-template-columns: repeat(1, 120px);
  }

  .contacts__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }

  .contacts__box-title {
    margin: 0;
    margin-top: 10px;
  }
}

@media (max-width: 300px) {
  .header__list {
    overflow: auto;
    padding-bottom: 5px;
  }
}