@media (max-width: 876px) {
  .projects__box {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .about__title {
    margin-top: 80px;
    font-size: 2.4em;
  }

  .about__title:first-child {
    margin-top: 50px;
  }

  .about__text {
    margin-top: 20px;
    font-size: 1.3em;
  }

  .about__text-list {
    margin-top: 30px;
  }

  .about__text-list-item {
    font-size: 1.2em;
  }

  .about__text-list-item + .about__text-list-item {
    margin-top: 20px;
  }
}

@media (max-width: 530px) {
  .intro__info-icon {
    width: 100px;
    height: 100px;
  }

  .intro__info-text {
    margin-left: 10px;
  }

  .intro__info-descr {
    font-size: 1.3em;
  }

  .intro__info-title {
    font-size: calc(1.3em + 16 * (100vw / 1280));
  }

  .projects__box-title {
    font-size: 1.3em;
    padding: 5px 3px;
  }

  .projects__btn {
    margin-top: 60px;
  }
}

@media (max-width: 340px) {
  .intro__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}