@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

html,
body {
  background: #0d1017;
  font-size: 16px;
  color: #f7fbfd;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.85px;
  line-height: 120%;
  scroll-behavior: smooth;
  min-height: 100%;
  height: auto;
  margin-bottom: 5px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.5em;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgba(112, 128, 144, 0.418);
  outline: 1px solid rgba(112, 128, 144, 0.418);
}

section {
  background-color: #161b21;
  padding: 20px;
  border: 1px solid #1a1f25;
  border-radius: 1em;
  margin-bottom: 70px;
}

.title {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 1.8px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 1160px;
  margin: 0 auto;
}

.info {
  max-width: 70%;
}

.content-container {
  background: #0d1017;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  border-radius: 2em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 40px 10px 0 10px;
}

.main {
  min-height: 230px;
  position: relative;
  background: #212429;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #23272bd2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main__title {
  position: relative;
  top: 40px;
  z-index: 2;
  color: #e6e6e6;
  font-size: 32px;
  font-weight: 600;
  line-height: 110%;
}

.header {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list > li + li {
  margin-left: 40px;
}

.header__list > li > a {
  color: white;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0.5;
}

.header__list > li > a.current {
  opacity: 0.9;
}

.header__list > li > a:hover {
  opacity: 0.9;
}

.sidebar {
  width: 28%;
  background-color: #161b21;
  border: 1px solid #1a1f25;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: -webkit-sticky;
  position: sticky;
  top: 2px;
  right: 0;
  border-radius: 0.5em;
  -webkit-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.27);
          box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.27);
}

.sidebar__title {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  border-bottom: 1px solid #070e18;
  padding: 30px 20px 15px 20px;
}

.sidebar__list {
  padding: 20px;
  padding-bottom: 30px;
}

.sidebar__list > li {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  position: relative;
  padding: 3px 0;
}

.sidebar__list > li:hover {
  -webkit-transform: translateX(8px);
      -ms-transform: translateX(8px);
          transform: translateX(8px);
}

.sidebar__list > li + li {
  margin-top: 15px;
}

.sidebar__list > li > a {
  color: #cfcdd4;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.about {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.about__text > h3 {
  margin: 20px 0;
  width: 100%;
  background-color: #212832;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0.2em;
  opacity: 1;
  font-weight: 600;
  letter-spacing: 2px;
}

.about__text > p {
  opacity: 0.7;
  line-height: 160%;
}

.about__text > p > a {
  color: #12467a;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.about__text > p > a:hover {
  color: blue;
}

.contacts__title {
  margin-bottom: 40px;
}

.contacts__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contacts__box-title {
  margin-left: 10px;
  color: #8b8b8b;
  font-weight: 500;
  letter-spacing: normal;
}

.contacts__box-img {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.contacts__box-img img {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.contacts__box:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -20px;
  top: -3px;
  background-image: url(../img/contacts/link.svg);
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.contacts__box:hover:after {
  opacity: 1;
}

.programs__list > li {
  font-size: 17px;
  opacity: 0.8;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  position: relative;
  padding: 6px 0;
}

.programs__list > li:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.benefits {
  margin: 0;
}

.benefits__title {
  margin-bottom: 30px;
}

.benefits__list {
  padding-left: 10px;
  list-style-type: disc;
}

.benefits__list > li {
  font-size: 14px;
  list-style: inherit;
  font-weight: 500;
  letter-spacing: 1.3px;
}

.benefits__list > li + li {
  margin-top: 30px;
}

.benefits__list > li > span {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.last {
  margin: 40px 0;
  padding: 30px 20px 30px 20px;
}

.last__title {
  margin-bottom: 30px;
}

.last__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.last__box {
  position: relative;
  overflow: hidden;
}

.last__box:hover img {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.last__box-img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
  overflow: hidden;
  position: relative;
}

.last__box-img::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(69, 74, 133, 0.2);
}

.last__box-img img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.last__box-title {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top: none;
  border-bottom: none;
  padding-left: 5px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.last__link {
  margin-top: 15px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.last__link-item {
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 10px 7px;
  background: #235bae;
  border-radius: 0.5em;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.last__link-item:hover {
  background: #1e4e96;
}

.last__container {
  padding-bottom: 33px;
  max-width: 1160px;
  margin: 0 auto;
}

.projects__container {
  max-width: 98%;
  margin: 0 auto;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__box {
  width: calc(50% - 1.3rem);
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.projects__box:hover img {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.projects__box-img {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.8em;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__box-img::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.projects__box-img img {
  max-width: 100%;
  height: auto;
  min-height: 230px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.projects__box-info {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.projects__box-title {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
  padding-left: 6px;
  color: rgba(255, 255, 255, 0.644);
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.projects__content-container {
  border-radius: 0;
  padding-bottom: 20px;
}

.projects__descr {
  text-align: center;
  margin-top: 40px;
}

.projects__descr-link {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__descr-link > a {
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 10px 7px;
  background: #235bae;
  border-radius: 0.5em;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.projects__descr-link > a:hover {
  background: #1e4e96;
}

.skills {
  padding-bottom: 30px;
}

.skills__box {
  padding: 20px 10px;
  border: 1px solid #000;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.185);
}

.skills__box-title {
  color: rgba(255, 255, 255, 0.527);
  font-weight: 600;
  font-size: 1.8em;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.skills__box-text {
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: 500;
  color: #8998a5;
  line-height: 150%;
}

.skills__box:hover > .skills__box-title {
  color: rgba(255, 255, 255, 0.8);
}

.skills__box + .skills__box {
  margin-top: 20px;
}

.contacts-page {
  padding-bottom: 40px;
}

.contacts-page__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (120px)[3];
  grid-template-columns: repeat(3, 120px);
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-page__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.contacts-page__box-title {
  margin-top: 10px;
  color: #8998a5;
  font-weight: 500;
  letter-spacing: normal;
  position: relative;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.contacts-page__box-title:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background: #2b008f;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.contacts-page__box-img {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.contacts-page__box-img img {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.contacts-page__box:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -20px;
  top: -3px;
  background-image: url(../img/contacts/link.svg);
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.contacts-page__box:hover:after {
  opacity: 1;
}

.contacts-page__box:hover .contacts-page__box-title {
  color: #3d75a7;
}

.contacts-page__box:hover .contacts-page__box-title:after {
  width: 110%;
}